<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shop Database</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav>
        <a href="/">Home</a> |
        <a href="/customers">Customers</a> |
        <a href="/categories">Categories</a> |
        <a href="/products">Products</a> |
        <a href="/orders">Orders</a> |
        <a href="/product_orders">Product Orders</a>
    </nav>

    <hr>

    {{{body}}}

    <footer>
        <hr>
        <p style="text-align:center;">©Placeholder</p>
    </footer>
</body>
</html>
